body {
  background-color: black;
  font: 28pt Millimetre;
  font-style: normal;
  text-align: center;
}

.emboss {
  text-shadow: 1px 1px 0px rgba(65, 51, 160, 0.5), 1px 1px 0px rgba(44, 170, 226, 0.2);
  color: rgb(236, 0, 140);
} 