
@font-face {
    font-family: Millimetre Regular;
    src: url(millimetre-regular.otf);
}



body{

font-family: Millimetre Regular;

/* adding overflow hidden to get rid of scroll bar */ 
overflow: hidden;

/* commenting out typography right now  
line-height: 1.5;
font-size:14px;

background-color: orange;
color: green;  

*/
}

div.progress{

  position: fixed;
  top:0;
  left:0;
  height: 24px;

  /* z-index to keep progress bar above oter elements*/ 
  z-index: 1;

  background: /* skyblue #82D9FA*/ #96DFFA ;
}

/* header size is 100% of screen width & height */


h2 {

/* getting rid of our h2 styling that came from superhi 
 we will migrate anything useful */
/*
  font-family: sans-serif;
  font-size: 75px;
  font-weight: 200;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0 0 0.6em 0;
  */
}

p {

margin: 1.6em 0 1.6em 0;
}

header{

  /* == the following 3 are for a photo resize that covers the screen and is centered === 
  background-image: url(testimg.jpg);
  background-size: cover;
  background-position: center;

*/

  height: 100vh;  
  /* width : 100vw;*/
  /* flexbox lets us align items & justify content, moving our svg image to the center */
  display: flex;
  flex-direction: row;

  /* we are commenting out our flex alignments for now */
  /*
  align-items: center;
  justify-content: center;
  */
}

/* give height & width to img in header */
header img {
  width: 100%;
  height:100%;

  /* Object-Fit keeps images at proper scale/ no crops */ 
  object-fit: cover;
}


header div.topimage{

 background-color: rgb(194, 39, 145);
 width: 50%;
 display:flex;
 height: 100vh;
 border-left: solid green 25px;
 


}

header div.toptext{
  /*
  background-image: url(images/noise.png);
  background-size: cover;
  background-position: center;
  */
 /*  background-color: rgb(0, 25, 230); */
   /* border-right: solid orange 25px; */
   
 

 
 width: 50%;
 display: flex;
 flex-direction: column;


 height: 100vh;
 color: blue;

 /* adding some padding 
 so that our text isn't right on the page */
 padding-left: 20px; 



}

header h1 {
  font-size: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;

  /*top and bottom margins are 10px */
  margin: 0 0 0 0;
  padding: 0;

  /*
  margin: 0 0 0.6em 0;
  */

}

header h2 {
  font-size: 32px;
  margin: 0 0 0 0; 
  padding: 0;
  /*
  margin: 0 0 0.6em 0;
  */
}

header ul{
  /* padding-left defaults at 40px */
  font-size: 28px;
  margin: 10px 0 0 5px ;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;

  line-height: 1.5;

 

  /*
  margin: 0 0 0.6em 0;
  */
}

ul li{

  margin: 5px 0 0 0;
}


header a{

  color: yellow;
  text-decoration: none;
  transition: color 0.5s;

}

a:hover{

  color: lightgreen;
}
/* styling for artist list + info 
h1.intro { font-size: 46px;}
h2.intro { font-size:32px;}
ul.intro { font-size: 24px;}

*/



 /* give our sections some default flexbox styling */
 section {

  display: flex; 
  flex-direction: row;
}

/* give every odd numbered section a row-reverse */
section:nth-child(odd){

flex-direction: row-reverse;

}

/* we're telling each div( text & image) to be half the size of screen */ 

section div
{
 width: 50%;
 
}

/* We're giving our text divs some padding so that they aren't touching the image side */

section div.text {

padding: 60px;
position: sticky;
  position: -webkit-sticky;
  top: 0;

}


/* give the image the height of the browser */


section div.full-image{

  height: 100vh;
  /* we tell our images to cover and be center to the page */
  background-size: cover;
  background-position: center;

  /* Make Image sticky + backup for older browser */
  

}

section div.image-1{
  background-image: url(images/fromhereonout.jpg);
}


#example {
  /* font-size: 3em; */
  margin: 0;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke: 1px cyan;
}


#pic{
 
 width: 50%;
 height: 100vh;
  border: 1px solid black;

  background-size: cover;
  background-position: center;
  /* margin-right: 20px; */
  display:flex;

  object-fit: cover;
}
#pic.p1 {
  background-image: url(images/djkid_glucose.png);
}
#pic.p2 {
  background-image: url(images/fromhereonout.jpg);
}
#pic.p3 {
  background-image: url(images/jessica-pettway_1-guide-to-happiness.jpg);
}
#pic.p4 {
  background-image: url(images/nogimmick1.png);
}

#pic.p5 {
  background-image: url(images/1.png);
}

#pic.p6 {
  background-image: url(images/payphone.png);
}

@media screen (max-width: 900px) {

  header {
   /* Make height 75% of width of the browser */
    width: 100vw; 
    display: flex;
    flex-direction: column;
    background-color: red;


  }

 header div.topimage{
  position: absolute;
  
  height: 100vh;
  width: 100vw;
  
  }


  header div.toptext{
    
    height: 50%;
    width: 100vw;
    
  }

  body {
    font-size: 16px;
  }
  
  h2 {
    font-size: 32px ;
  }

  

/* turn section back to default block style */
  section {
    /*
  display: block;
  */
    }
   /* tell our divs to go back to 100% on mobile */ 
  section div {
    /*
  width: 100%; 
  */ 
  }

  section div.text {
    /*
    padding: 30px; 
    */
  }
/*
  section div.full-image{
  /* Image height is 100% of the browsers WIDTH 
    height:100vw;  
  } */
}